/* Fichier : src/index.css */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  background-color: #F7FAFC; /* Gris très clair (gray.50) */
}

#root {
  height: 100%;
}